<!DOCTYPE html>
<html lang="en">
<body>
  <header>
      <% include ./partials/_header %>
  </header>
  <main>
    <div>
      <ul>
      <% for(var i = 0; i < urls.length; i++) { %>
          <li>
          <form method="POST" action="/urls/<%=urls[i].shortURL%>?_method=DELETE">
            <%=urls[i].shortURL%>  -->  <a href = "<%=urls[i].longURL%>"> <%=urls[i].longURL%> </a> -->
            <a href = "/urls/<%=urls[i].shortURL%>"> Edit </a> -->
              <button type="submit">Delete resource</button>
            </form>

          </li>
        <% }; %>
      </ul>
      <a href=<%= shortener%>>Click here to shorten your next link!</a>
    </div>
  </main>
</body>
</html>